body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: end;
    background-color: black;
    color: white;
    padding: 0 20px;
     
}

.blabla {
    color: black;
}

.nav-links {
    list-style: none;
    display: flex;
    margin-inline-start: 20px; 
}

.nav-links li {
    margin-left: 20px;
    position: relative;
}

.nav-links li:not(:last-child)::after {
    content: ""; 
    height: 100%;
    width: 1px;
    display: flex;
    top: 0;
    right: -11px;
    position: absolute;
    background-color: rgb(109, 95, 63);
}

.nav-links a {
    color: rgb(109, 95, 63);
    text-decoration: none;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links a:hover {
    color:rgba(45,41,30,255);
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    margin-top: 20px; 
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color:rgb(109, 95, 63);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #444;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 30%;
    margin-bottom: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
    width: 200px;
    height: 300px;
}

.product p {
    margin: 10px 0;
    font-size: 18px;
    color: black;

}

button {
    padding: 10px 15px;
    background-color: rgba(71,63,37,255) ;
    color:black;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

button:hover {
    background-color: rgba(45,41,30,255);
}

.cart {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border-top: 2px solid black;
    color: black;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
}

p{
    font-family:Georgia, 'Times New Roman', Times, serif;

}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}


body::before{
    content: "fjifjiji";
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    pointer-events: none;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGpld3JrNzVkcm54eWZyYW4xZnQ3ZW93NWpqOXN4ZmEwcmt4OG43eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/etUdXnsEMrBng0vOvY/giphy.gif);
}
